*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
}
/* TUTTA SEZIONE HEADER */
header{
    background-color: #255ee9;
    padding: 15px;
}

.main-text{
    color: white;
    padding-top: 20px;
}

h1{
    font-size: 45px;
    margin: 0.5em auto;
}

h2{
    font-size: 25px;
}


ul{
    color: white;
    padding-top: 5px;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 10px;
}

.d-flex{
    display: flex;
}

.header-side{
    width: 20%;
}

.header-center{
    width: 60%;
}

.header-center-menu{
    text-align: center;
}

.logo{
    text-align: left;
    margin-left: 15px;
}

.login{
    background-color: white;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .25px;
    padding: 10px;
}

.word-login{
    
    text-align: right;
    margin-right: 5px;
}

.flex-grow{
    flex-grow: 1;
}

.bg-container{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

/*-- SEZIONE MAIN --*/

.scarica-mac, .browser-open{
    background-color: white;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .25px;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
}

.content{
    text-align: center;
    height: 500px;
    margin: 20px 0;
}

.small-content{
    height: 360px;
}

.thicc{
    height: 650px;
}

.col-home{
    width: 70%;
    margin: auto;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

/*-- FOOTER --*/

.foot{
    height: 80px;
    border: 1px solid #000;
    margin-top: 10px;
}

.foot-btn{
    width: 100px;
    border: 2px dashed #000;
    margin: 25px 0;
}

.space-between{
    justify-content: space-between;
}

.word{
    text-align: center;
    padding-top: 2px;
}


/*-- ALL BG COLORS --*/

.bg-blue{
    background-color: darkblue;
}

.bg-pink{
    background-color: pink;
}

.bg-gray{
    background-color: lightgray;
}

.bg-green{
    background-color: green;
}

.bg-darkgray{
    background-color: #2b2a2a;
}

.bg-rose{
    background-color: palevioletred;
}

.bg-darkcyan{
    background-color: darkcyan;
}

.bg-aqua{
    background-color: aquamarine;
}
